<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134196240091-etm4vrp6r8s4n783k6rmcq029gbecm4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134196240091-etm4vrp6r8s4n783k6rmcq029gbecm4l</string>
	<key>API_KEY</key>
	<string>AIzaSyAl9c55Hw6Bl9PIk0LO9P8OTk9Xbb_mom0</string>
	<key>GCM_SENDER_ID</key>
	<string>134196240091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabriellucas.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-c3329</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-c3329.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134196240091:ios:d0a51e262c3d67226376fe</string>
</dict>
</plist>